<div class="content4 cl">
    <div class="content4-1">
	    <h2 style="font-size: 36px; color: white; margin: 20px; margin-top: 24px; color: red;">硬體及開發工具</h2>
	</div>
	<div class="content4-2">
	    <img src="/img/CPRAnnie.png" style="float: left; margin-right: 20px; width: 400px;" title="安妮在看著你！！！">
		<p style="font-size: 36px; margin-left: 10px; color: red;">安妮</p>
		<p style="font-size: 18px;">
		    模擬心肺復甦術(CPR)之急救訓練，包括口對口人工呼吸及心外按摩急救法。具可移動之下顎部訓練暢通呼吸道、軟質鼻部模擬捏鼻動作。
		</p>
	</div>
	<div class="content4-9">
	    <img src="/img/button1.png" style="float: left; margin-right: 20px; width: 400px;" title="自製按鈕">
		<p style="font-size: 36px; margin-left: 10px; color: red;">自製按鈕</p>
		<p style="font-size: 18px;">
		    純手工自製按鈕。
		</p>
	</div>
	<div class="content4-3">
	    <img src="/img/ArduinoMega.png" style="float: left; margin-right: 30px;" title="MEGA">
		<p style="font-size: 36px; margin-left: 10px; color: red;">Arduino Mega 2560 控制板</p>
		<ul>
		    <li>微控制晶片 : ATmega2560</li>
		    <li>輸入電壓(建議值) : 7-12V</li>
		    <li>數位I/O腳位 : 54</li>
		    <li>類比輸入Pins : 16</li>
		    <li>靜態記憶體 : 8KB</li>
		</ul>
	</div>
	<div class="content4-4">
	    <img src="/img/head1.png" style="float: left; margin-right: 30px;" title="加速度陀螺儀">
		<p style="font-size: 36px; margin-left: 10px; color: red;">Arduino MPU6050</p>
		<ul>
		    <li>核心晶片 : MPU-6050(三軸陀螺儀+三軸加速度)</li>
			<li>通信方式 : 標準I<sup>2</sup>C通信協議</li>
			<li>晶片內置16bit AD轉換器，16位數據輸出</li>
			<li>陀螺儀範圍 : ±250 500 1000 2000 °/s</li>
			<li>加速度範圍 : ±2 ±4 ±8 ±16g</li>
		</ul>
	</div>
	<div class="content4-5">
	    <img src="/img/atmosphere1.png" style="float: left; margin-right: 30px;" title="大氣壓力感測器">
		<p style="font-size: 36px; margin-left: 10px; color: red;">Arduino BMP085</p>
		<ul>
		    <li>壓力範圍 : 30 ~ 110kPa(海拔 9000 至 -500公尺)</li>
			<li>電源電壓 : 1.8V ~ 3.6V</li>
			<li>解析度 : 6Pa(0.5米)</li>
			<li>含溫度輸出，同時也已做溫度補償</li>
			<li>I<sup>2</sup>C介面</li>
		</ul>
	</div>
	<div class="content4-6">
	    <img src="/img/force1.png" style="float: left; margin-right: 30px;" title="壓力感測器">
		<p style="font-size: 36px; margin-left: 10px; color: red;">Arduino FSR-Square</p>
		<ul>
		    <li>長度 : 3.5"</li>
			<li>寬度 : 1.75"</li>
			<li>厚度 : 0.018"</li>
			<li>感測區域 : 1.75 x 1.5"</li>
			<li>壓力範圍 : 0.1N ~ 10N</li>
		</ul>
	</div>
	<div class="content4-10">
	    <img src="/img/BluetoothV3Pic.png" style="float: left; margin-right: 30px;" title="藍芽感測器">
		<p style="font-size: 36px; margin-left: 10px; color: red;">Bluetooth V3</p>
		<ul>
		    <li>工作電壓：3.5~8v DC and 3.3v DC/50mA</li>
			<li>串口鮑率：內定為9600bps</li>
			<li>工作頻率：2.4～2.48GHz unlicensed ISM band</li>
			<li>發射功率：≤4dBm, Class 2</li>
			<li>模組尺寸：40x20x13mm</li>
		</ul>
	</div>
	<div class="content4-7">
	    <img src="/img/VSCsharp.png" style="float: left; margin-right: 30px;" title="C#">
		<p style="font-size: 36px; margin-left: 10px; color: red;">Visual Studio C#</p>
		<p style="font-size: 18px;">
		    C#是一種簡潔且類型安全的物件導向語言，讓開發人員能夠建置各種可以在.NET Framework上執行的安全、強固應用程式。 您可以使用C#來建立 Windows 用戶端應用程式、XML Web Services、分散式元件、主從式應用程式、資料庫應用程式以及更多程式。Visual C#提供進階的程式碼編輯器、便利的使用者介面設計工具、整合式偵錯工具以及許多其他工具，用以簡化根據C#語言及.NET Framework來開發應用程式的程序。
		</p>
	</div>
	<div class="content4-8">
	    <img src="/img/Arduino.png" style="float: left; margin-right: 30px;" title="Arduino">
		<p style="font-size: 36px; margin-left: 10px; color: red;">Arduino 1.0.5</p>
		<p style="font-size: 18px;">
		    Arduino是個open-source electronics prototyping platform，含有容易使用、擴充性強的硬體與軟體，提供給藝術家、設計師、業餘愛好者、任何有興趣的人，建立打造互動式的科技藝術裝置作品。
		</p>
	</div>
</div>