<div class="content2 cl">
    <div class="content2-1">
	    <h2 style="font-size: 36px; color: red;">摘要</h2>
	    <p style="font-size: 18px">
	       本研究計畫目標是設計一套互動式的心肺復甦術，使用者利用C#來觀看教學影片與步驟，C#介面上會顯示使用者在哪個步驟，還有如果使用者吹氣、胸外按壓太快或太慢，C#都會提醒你，藉此達到即使無人在旁邊教授，也可以自行學習。根據美國「死亡之鏈」之重要概念，當人在心臟及呼吸停止狀態時，腦細胞於四分鐘內開始死亡，十分鐘內就會形成腦死現象，如果患者倒地後四分鐘內進行心肺復甦術、八分鐘內做高級心臟救護術，則患者救活率高達43%，另內政部統計顯示國人主要死因為惡性腫瘤、腦血管疾病、心臟疾病等三類，且事故傷害及自殺者比率有逐年增加現象，因此突顯心肺復甦術的重要性與必要性。雖然現在政府一直致力在推廣心肺復甦術，全民普及率達到33.8%，我們希望藉此輔具能夠再提高普及率，讓大家都能學會心肺復甦術。
        </p>
	</div>
	<div class="content2-2">
	    <h2 style="font-size: 36px; color: red;">研究動機</h2>
		<p style="font-size: 18px">
		   相較於台灣金門醫療資源相當的不足，萬一遇到緊急狀況，如果能夠及時給予傷患急救，相信絕對是一件相當好的事情，但是心肺復甦術的知識，通常只是在書上讀過，實際練習的機會並不多，因此啟發出，如果做一個互動式心肺復甦術教學互動系統，不論是在教室，在家中，不需要請專業教練，自己也能學習如何施展心肺復甦術，此外，一具心肺復甦安妮人體模型(以下簡稱"安妮")，希望用她來讓心肺復甦術的知識能夠更加的普及。
		</p>
	</div>
	<div class="content2-3">
	    <h2 style="font-size: 36px; color: red;">研究問題</h2>
		<p style="font-size: 18px">
		   本計畫中，我們提出即使無人教授的時候，仍可正確地學會心肺復甦術。此系統主要分成三大部分進行，Arduino的程式設計、整體電路的配置及感測器的選擇與擺放，在各個部分都會有其面臨的技術問題，在Arduino的程式設計上，如何能迅速的回饋訊息給使用者，這也是問題之一；整體電路的配置要如何用較少的電子零件來減少成本並且達到最佳的準確度，是我們必須考慮的；最後在感測器的選擇與擺放部分，我們需要知道使用者到底有沒有做對正確的姿勢，感測器種類的選擇就很重要了，胸外按壓的位置是否正確，擺放的地方就得需要去思考，希望能以最正確的姿勢來去教授使用者。
		</p>
	</div>
</div>