<div class="content7 cl">
    <div class="content7-1">
	    <h2 style="font-size: 36px; color: red;">製作心得分享</h2>
		</br>
		<p style="font-size: 18px;">
		   專題過程中，我們學習到了Arduino端的程式設計，包含圖案的開關控制以及藍芽接收端的程式，透過系上微電腦數位實習的課程學習到的Arduino程式設計來編寫簡易又可行的程式，和透過處理簡單的0,1,2,3來作為藍芽接收端的協定程式。除了過去的課程沒有類似的實作經驗外，要如何對自己有助益的資料迅速妥善地統整並用自己的方式闡述，就是在專題過程中時，才慢慢地掌握到相當的技巧。
		</p>
		<br>
		<p style="font-size: 18px;">
		   此外，我們學習到最特別的地方，就是要與C#做結合，像是用C#接收藍芽所傳送出來的資料，這都是只有在專題才碰的到的問題，。另外電路部分因為沒有相關的背景知識，所以大家為了搞懂每個元件的操控就花了不少的時間，例如:藍芽與電腦之間的傳送接收資料的延遲，或是C#上圖表的延遲，也是琢磨了許久才經由老師提點得知，這讓我們知道做任何研究切勿閉門造車，透過請益和彼此間的討論才能更有效率的進步，就像牛頓的經典名言所述：「如果我看得比別人更遠，那是因為我站在巨人的肩膀上」。最後，過程中團隊默契的培養過程、辛苦的製作經歷以及專題最後的小小成果，都是讓我們值得一一回味的喜悅。
		</p>
	</div>
</div>