<div class="content6 cl">
    <div class="content6-1">
	    <h2 style="font-size: 36px; color: red;">結論</h2>
		</br>
		<p style="font-size: 18px">
		   希望大家透過這輔具來學習CPR，不管是大朋友、小朋友都可以輕鬆的學習，把這項技能能夠更加的推廣出去，讓每個人能夠學會CPR，這樣在遇到狀況時就可以派上用場，胸部按壓這動作很耗費體力，如果周圍的人都會CPR的話，就可以輪流進行按壓，這樣按壓的速度就不會因為沒體力而變慢。通常最有機會救助的人，往往就是你最親近的人，不須任何工具，只要一張口、一雙手、一顆熱忱的心就可以就一條性命，或者更多。
		</p>
	</div>
</div>